body {
	font-family: 'Raleway', sans-serif !important;
}

i { 
    font-style: italic;
}

h1 {
	font-size: 40px;
}

p {
	font-size: 18px;
}

img {
	max-width: 100%;
}

#top-bar {
	display: none;
}

.container h1 {
	background-image: url(../images/line.gif);
	background-repeat: no-repeat;
	background-position-y: 60px;
  height: 70px;
  margin-bottom: 30px;
}

#main-header {
	height: 440px;
	background: #f44336;
	margin-bottom: 80px;
}

#main-header h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	margin: 0;
	padding-top: 125px;
	text-align: center;
}

.client {
	background: #d32f2f;
	height: 100px;
}

.server {
	background: blue;
	height: 100px;
}

#http-content img {
	margin-top: 20px;
	max-width: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.http-methods {
	font-size: 16px;
	margin-left: 4%;
	margin-top: 5%;
}

.form-get {
	margin-top: 40px;
	padding-bottom: 80px;
}

.form-get button {
	position: relative;
	top: 24px;
	width: 200px;
}

#dom-content img {
	margin-top: 60px;
	max-width: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

#dev-tools-content img {
	display: block;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 60px;
}

#elements-content img {
	max-width: 100%;
}

.container-wrapper {
	margin-bottom: 80px;
}

.container-wrapper img {
	margin-top: 20px;
}

.display-none {
	display: none;
}

.open-dev-tools {
	padding-bottom: 30px;
}

.p-bottom {
	margin-bottom: 10px !important;
}

footer {
	margin-top: 80px;
	border-top: 1px solid #ccc;
	padding-top: 40px;
	color: #A1ACB2;
	text-align: center;
	padding-bottom: 20px;
}

footer p {
	font-size: 14px;
	text-transform: uppercase;
}